<sl-drawer id="settings" class="settings" placement="start" label="Settings">
	<div>
		<form id="instance-form" class="inline">
			<sl-input
				id="instance-field"
				label="Instance"
				type="url"
				placeholder="https://design.penpot.app/"
				size="small"
			></sl-input>
			<sl-button id="instance-save" type="submit" size="small">Save</sl-button>
		</form>

		<sl-select id="theme-select" label="Theme" size="small">
			<sl-option value="light">Light</sl-option>
			<sl-option value="dark">Dark</sl-option>
			<sl-option value="system">System</sl-option>
			<sl-option value="tab">Penpot</sl-option>
		</sl-select>
	</div>

	<sl-button-group class="footer" label="Help Center">
		<sl-button id="open-docs" href="#" size="small">Documentation</sl-button>
		<sl-button id="open-selfhost" href="#" size="small">Selfhost</sl-button>
	</sl-button-group>
</sl-drawer>
