@import url("./form.css");
@import url("./controls.css");
@import url("./settings.css");

@media (prefers-color-scheme: light) {
	:root {
		--theme-filter: invert(1);
	}

	body {
		background: #ffffff;
	}

	.titlebar,
	.controls,
	.no-tabs-exist {
		filter: var(--theme-filter, none);
	}

	#theme-select-light {
		border-color: #00ff89;
		color: #00ff89;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #18181a;
	}

	#theme-select-dark {
		border-color: #00ff89;
		color: #00ff89;
	}
}

body {
	font-family: arial;
}

sl-include.alert-modal {
	position: fixed;
	z-index: 50;
	bottom: 24px;
	left: 50%;
	transform: translate(-50%);
	width: max-content;
}

drag {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	app-region: drag;
	z-index: 1;
}

.no-tabs-exist {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;

	img {
		width: 54px;
	}

	button {
		color: black;
		background: #00ff89;
		border: none;
		border-radius: 3rem;
		padding: 12px 24px;
		transition:
			0.3s background,
			0.3s color;

		&:hover {
			color: black;
			background: #e6e6e6;
			transition:
				0.3s background,
				0.3s color;
		}
	}
}
